* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #333;
    color: #222;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow-x: hidden;
    margin: 0;
}


/* === MAIN === */
main {
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    transform-origin: top left;
    transition: transform 0.5s linear;
}

main.show-nav {
    transform: rotate(-20deg);
}



/* === CIRCLE-NAV === */
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(251, 96, 96);
    transition: transform 0.5s linear;
}

.circle.show-nav {
    transform: rotate(-90deg);
}

#open {
    position: absolute;
    right: 35px;
    bottom: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#open div {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

#close {
    position: absolute;
    left: 35px;
    bottom: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close .bar1, #close .bar2 {
    width: 35px;
    height: 5px;
    background-color: #fff;
}

#close .bar1 {
    transform: translate(0, 3px) rotate(-45deg);
}

#close .bar2 {
    transform: translate(0, -3px) rotate(45deg);
}



/* === CONTENT === */
.content {
    /* text-align: center; */
    display: block;
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}

.content img {
    max-width: 100%;
}



/* === NAV === */